<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{base/general :: head}">
</head>
<body>
    <div th:replace="~{base/general :: navbar}"></div>

    <section class="py-5">
        <div class="container col-10">
            <div class="row">
                <div class="d-flex align-items-center">
                    <h1 class="mr-6 mb-2">Listado de Peliculas</h1>
                    <img th:src="@{/images/icons/listIcon.png}" class="img-fluid ms-2" style="width: 2.5rem;" />
                </div>
            </div>
            <br>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="col-1">ID</th>
                        <th class="col-3">Titulo</th>
                        <th class="text-end col-3"></th>
                    </tr>
                    </thead>
                    <tbody th:each="book : ${books}">
                    <tr>
                        <td class="col-1"><span th:text="${book.id}"></span></td>
                        <td class="col-3"><span th:text="${book.title}"></span></td>
                        <td class="col-3 text-end">
                            <div class="d-flex justify-content-end align-items-center">
                                <a class="btn me-2 btn-outline-primary rounded-pill btn-sm" th:href="@{${'/books/' + book.id}}|">Detalles</a>
                                <a class="btn me-2 btn-outline-success rounded-pill btn-sm" th:href="@{${'/books/update/' + book.id}}|">Modificar</a>
                                <!--<a class="btn btn-outline-danger rounded-pill btn-sm" th:href="@{${'/movies/delete/' + movie.id}}|">Eliminar</a>-->
                                <form th:action="@{'/books/' + ${book.id}}" th:method="post">
                                    <input type="hidden" name="_method" value="delete"/>
                                    <button class="btn btn-sm rounded-pill btn-outline-danger" type="submit" onclick="return confirm('¿Estás seguro de que desea eliminar esta película?')">Eliminar</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
